<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парсер HH</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <h1>
        <span>Мегапарсер HeadHunter</span>
    </h1>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
<!--        <li>-->
<!--            <a href="/contacts/">Контакты</a>-->
<!--        </li>-->
        <li>
            <a href="/result/">Результат поиска</a>
        </li>
        <li>
            <a href="/forma/">Страница формы поиска</a>
        </li>
    </ul>
    <h2>
        <span>Это главная страница</span>
    </h2>
    <p>Парсер умеет получать вакансии с hh<br>и анализировать</p>
    <p>Можно задавать различные параметры поиска</p>
    <a href="/forma/">Начать поиск</a>

</body>
</html>